.app-wrapper {
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
    "h h"
    "n c";

    grid-template-rows: 100px 1fr;
    grid-auto-columns: 2fr 10fr;

}

.header {
    grid-area: h;
    background-color: cornflowerblue;
}

.header img {
    width: 80px;
}

.nav {
    grid-area: n;
    background-color: #bf9541;
}

.content {
    grid-area: c;
    background-color: #41bf6d;
}

.content img {
    width: 800px;
}