.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialog {
    text-decoration: none;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems a.active {
    color: gold;
}

.messages {
    padding: 25px;
}

.message {
    padding: 15px 0
}

.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    border: 1px solid black;
    border-radius: 50%;
}

.dialogsItem {
    margin-top: 10px;
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}